[Unit]
Description=File Dispatch
After=zfs.target

[Service]
ExecStart=/usr/local/bin/file_dispatch
Restart=always
RestartSec=5s
#WorkingDirectory=/root/
#Restart=on-failure

[Install]
WantedBy=multi-user.target

# vim: set ft=systemd:
